<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBHAkXpo4_2Wqb3P210UOQy-6KdKW0CuTI",
    authDomain: "app-6a402.firebaseapp.com",
    databaseURL: "https://app-6a402.firebaseio.com",
    projectId: "app-6a402",
    storageBucket: "app-6a402.appspot.com",
    messagingSenderId: "1003203128041",
    appId: "1:1003203128041:web:0bababe668acf1c1661e78",
    measurementId: "G-4PRDGSJ76S"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>

</html>